USE [master]
GO
/****** Object:  Database [huyltpd00924_Ass]    Script Date: 09-Mar-16 10:36:53 PM ******/
CREATE DATABASE [huyltpd00924_Ass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'huyltpd00924_Ass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\huyltpd00924_Ass.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'huyltpd00924_Ass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\huyltpd00924_Ass_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [huyltpd00924_Ass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [huyltpd00924_Ass]
GO
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 09-Mar-16 10:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[Ma_HD] [char](10) NOT NULL,
	[Ma_KH] [char](10) NOT NULL,
	[Dia_Chi] [varchar](100) NOT NULL,
	[Ngay_Giao_Hang] [date] NOT NULL,
	[Khach_Hang_Ma_KH] [char](10) NOT NULL,
	[Ma_SP] [char](10) NOT NULL,
	[Don_Gia] [int] NOT NULL,
	[So_Luong] [int] NOT NULL,
	[Thanh_Tien] [int] NOT NULL,
	[San_Pham_Ma_SP] [char](10) NOT NULL,
 CONSTRAINT [Hoa_Don_pk] PRIMARY KEY CLUSTERED 
(
	[Ma_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khach_Hang]    Script Date: 09-Mar-16 10:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khach_Hang](
	[Ma_KH] [char](10) NOT NULL,
	[Ten_KH] [char](10) NOT NULL,
	[Dia_Chi] [varchar](100) NOT NULL,
	[Dien_Thoai] [varchar](12) NOT NULL,
	[Email] [varchar](30) NOT NULL,
 CONSTRAINT [Khach_Hang_pk] PRIMARY KEY CLUSTERED 
(
	[Ma_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loai_San_Pham]    Script Date: 09-Mar-16 10:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loai_San_Pham](
	[Ma_Loai_SP] [char](10) NOT NULL,
	[Loai_SP] [varchar](20) NOT NULL,
	[Mo_Ta] [varchar](100) NOT NULL,
 CONSTRAINT [Loai_San_Pham_pk] PRIMARY KEY CLUSTERED 
(
	[Ma_Loai_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 09-Mar-16 10:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[San_Pham](
	[Ma_SP] [char](10) NOT NULL,
	[Ten_SP] [varchar](50) NOT NULL,
	[Ngay_SX] [date] NOT NULL,
	[Noi_SX] [varchar](100) NOT NULL,
	[Ma_Loai_SP] [char](10) NOT NULL,
	[Loai_San_Pham_Ma_Loai_SP] [char](10) NOT NULL,
 CONSTRAINT [San_Pham_pk] PRIMARY KEY CLUSTERED 
(
	[Ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [Hoa_Don_Khach_Hang] FOREIGN KEY([Khach_Hang_Ma_KH])
REFERENCES [dbo].[Khach_Hang] ([Ma_KH])
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [Hoa_Don_Khach_Hang]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [Hoa_Don_San_Pham] FOREIGN KEY([San_Pham_Ma_SP])
REFERENCES [dbo].[San_Pham] ([Ma_SP])
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [Hoa_Don_San_Pham]
GO
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD  CONSTRAINT [San_Pham_Loai_San_Pham] FOREIGN KEY([Loai_San_Pham_Ma_Loai_SP])
REFERENCES [dbo].[Loai_San_Pham] ([Ma_Loai_SP])
GO
ALTER TABLE [dbo].[San_Pham] CHECK CONSTRAINT [San_Pham_Loai_San_Pham]
GO
USE [master]
GO
